<div class="login">
  <%= image_tag("mango.jpg") %>
  <h1>Come on in to Rotten Mangoes!</h1>
  <%= form_tag session_path do %>
    <div class="input-group">
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "email" %>
    </div>
    <div class="input-group">
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "password" %>
    </div>
    <div><%= submit_tag "Log In", {class: "btn btn-default"} %></div>
  <% end %>
</div>