<div class="movie-container">
  <div class="movie-image">
    <%= link_to image_tag(movie.poster.thumb.url), movie_path(movie) %>
  </div>
  <div class="movie-details">
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <h3><%= formatted_date(movie.release_date) %></h3>
    <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
    <% if movie.review_average %><p>Average rating: <%= movie.review_average %>/10</p><% end %>
    <p><%= movie.description %></p>
  </div>
  <div class="splitter"></div>
</div>

