<div class="movie-index">
  <div class="spacer"></div>
  <hr/>
  
  <% if current_user %><%= button_to "Submit a movie!", new_movie_path, :class => "btn btn-default new-movie-btn", :method => :get %><% end %>

  <hr>

  <div class="search-form">
    <h4> Search for movies! </h4>
    <%= form_tag(movies_path, method: :get) do %>
      <div class="input-group">
        <%= text_field_tag :search_term, '', :class => "form-control" %>
      </div>
      <div class="btn-group">
        <%= radio_button_tag(:runtime_in_minutes, 1) %>
        <%= label_tag(:runtime_in_minutes, "Under 90 minutes") %>
        <%= radio_button_tag(:runtime_in_minutes, 2) %>
        <%= label_tag(:runtime_in_minutes, "Between 90 and 120 minutes") %>
        <%= radio_button_tag(:runtime_in_minutes, 3) %>
        <%= label_tag(:runtime_in_minutes, "Over 120 minutes") %>
      </div>
      <div><%= submit_tag "Search!", :class => "btn btn-default" %></div>
    <% end %>
  </div>

  <hr>
  <% @movies.each do |movie| %>
    <%= render movie %>
    <hr/>
  <% end %>
</div>

