<div class="sign-up">
  <%= image_tag("mango.jpg") %>
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div>
        <%= pluralize(@user.errors.count, 'error') %> prevented this account from being created:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="input-group">
      <%= f.text_field :email, {class: "form-control", placeholder: "email"} %>
    </div>
    <div class="input-group">
      <%= f.text_field :firstname, {class: "form-control", placeholder: "First Name"} %>
    </div>
    <div class="input-group">
      <%= f.text_field :lastname, {class: "form-control", placeholder: "Last Name"} %>
    </div>
    <h4>Password Fields</h4>
    <div class="input-group">
      <%= f.password_field :password, {class: "form-control", placeholder: "Enter Password..."} %>
    </div>
    <div class="input-group">
      <%= f.password_field :password_confirmation, {class: "form-control", placeholder: "Confirm Password..."} %>
    </div>
    <div>
      <div><%= f.submit "Submit", {class: "btn btn-default"} %></div>
    </div>
  <% end %>
</div>