<div class="admin-container">
  <h1>List of users</h1>

  <hr />

  <%= link_to "Create a new user", new_admin_user_path %>

  <hr />

  <table class="table-striped">
    <thead>
      <tr>
        <th>Username</td>
        <th>Email</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <% unless user.admin %><td><%= button_to "Delete User", admin_user_path(user), method: :delete, class: "btn btn-default btn-delete" %></td><% else %><td></td><% end %>
          <% unless user.admin %><td><%= button_to 'Alias as user', admin_sessions_alias_path(user), class: "btn btn-default btn-alias" %></td><% else %><td></td><% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr/>

  <%= paginate @users %>
  <%= page_entries_info @users %>
</div>