<h1>List of users</h1>

<%= link_to "Create a new user", new_admin_user_path %>

<table>
  <tr>
    <td>Username</td>
    <td>Email</td>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <% unless current_user.id == user.id %><td><%= button_to "Delete User", admin_user_path(user), method: :delete %></td><% end %>
    <% unless user.admin %><td><%= button_to 'alias as user', admin_sessions_alias_path(user) %></td><% end %>
  </tr>
<% end %>
</table>

<hr/>

<%= paginate @users %>
<%= page_entries_info @users %>